@media only screen and (max-width:575px){
    .sectt{ 
        flex-direction: column; 
        align-items: center;
        gap: 3vw;
        margin-top: 3vw;
    }
    .sec-left{
        width: 90%;
    }
    .sec-right{
    width: 90%;
     }
     .text h2{
        font-size: 1.8vw;
        border-bottom: 1px solid black;
        color: brown;
    
    }
}